---
- name: Copy pacman configuration file
  copy:
    src: pacman.conf
    dest: /etc/pacman.conf
    mode: 0644
  become: true
  notify:
    - "Pacman -Su"
    - "Pacman -Syu"
    - "Pacman -Sy"
    - "Pacman -Sy cmd"

- name: Run Pacman -Sy
  shell: pacman -Sy
  become: true

- name: Install reflector
  pacman:
    name: reflector
    state: present
  become: true

- name: Sort mirror by reflector
  shell: reflector --latest 50 --age 24 --sort rate --save /etc/pacman.d/mirrorlist
  become: true

- name: Use all cores when compressing packages
  lineinfile:
    dest: /etc/makepkg.conf
    regexp: "^COMPRESSXZ"
    line: "COMPRESSXZ=(xz -c -z - --threads=0)"
  become: true

- name: Install core utils packages
  pacman:
    name: "{{ core_utils_loop }}"
    state: present
    force: yes
  with_items: "{{ core_utils }}"
  loop_control:
    loop_var: core_utils_loop
  when: core_utils is defined
  become: true

- name: Install core debug utils packages
  pacman:
    name: "{{ core_debugutils_loop }}"
    state: present
  with_items: "{{ core_debugutils }}"
  loop_control:
    loop_var: core_debugutils_loop
  when: core_debugutils is defined
  become: true

- name: Install core net utils packages
  pacman:
    name: "{{ core_netutils_loop }}"
    state: present
  with_items: "{{ core_netutils }}"
  loop_control:
    loop_var: core_netutils_loop
  when: core_netutils is defined
  become: true

- name: Install core goodies packages
  pacman:
    name: "{{ core_goodies }}"
    state: present
  when: core_goodies is defined
  become: true

- name: Install core aur packages
  yay:
    name: "{{ core_aur_loop }}"
  with_items: "{{ core_aur }}"
  loop_control:
    loop_var: core_aur_loop
  when: core_aur is defined
  become: yes

- name: Copy nobeep configuration
  copy:
    src: nobeep.conf
    dest: /etc/modprobe.d/nobeep.conf
    mode: 0440
  become: true
