.vagrant/
*.log
callback_plugins/__*
**/*.pyc
roles/ms_windows/.travis.yml
roles/ms_windows/.yamllint
roles/ms_windows/README.md
roles/ms_windows/defaults/main.yml
roles/ms_windows/handlers/main.yml
roles/ms_windows/meta/main.yml
roles/ms_windows/molecule/default/converge.yml
roles/ms_windows/molecule/default/create.yml
roles/ms_windows/molecule/default/destroy.yml
roles/ms_windows/molecule/default/INSTALL.rst
roles/ms_windows/molecule/default/molecule.yml
roles/ms_windows/molecule/default/verify.yml
roles/ms_windows/tasks/main.yml
roles/ms_windows/tasks/windows.yml
roles/ms_windows/tests/inventory
roles/ms_windows/tests/test.yml
roles/ms_windows/vars/main.yml
