### {{ ansible_managed }}


[Unit]
Description=User suspend actions
#Before=sleep.target
#Before=suspend.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=dunstctl set-paused true &&  /usr/bin/i3lock -e -n --inactivity-timeout=15 -l  --color=000000 --ringcolor=ff0000ff && dunstctl set-paused false

[Install]
WantedBy=sleep.target
