---
- name: Ignore .cfg folder
  shell: "echo '.cfg' >> /home/{{ user.name }}/.gitignore"
  become: yes
  become_user: "{{ user.name }}"

- name: Clone user dotfiles ( BIG REPO )
  git:
    repo: "{{ dotfiles.url }}"
    dest: "/home/{{ user.name }}/{{ dotfiles.destination }}"
    accept_hostkey: yes
    update: yes
    bare: yes
    version: master
    force: yes
  when: dotfiles is defined
  become: yes
  become_user: "{{ user.name }}"

- name: Stash current files
  shell:
    cmd: "/usr/bin/git --git-dir=/home/{{ user.name }}/.cfg/ --work-tree=/home/{{ user.name }} stash "
    chdir: "/home/{{ user.name }}"
  become: yes
  become_user: "{{ user.name }}"

- name: Re-checkout after cleanup
  shell:
    cmd: "/usr/bin/git --git-dir=/home/{{ user.name }}/.cfg/ --work-tree=/home/{{ user.name }} checkout "
    chdir: "/home/{{ user.name }}"
  become: yes
  become_user: "{{ user.name }}"

- name: Install zsh
  pacman:
    name: zsh
  become: true

- name: Install tmux
  pacman:
    name: tmux
  become: true

- name: Install zsh-completions
  yay:
    name: "zsh-completions"
  become: yes
  become_user: "{{ user.name }}"

- name: Install yarn for Vim Plug
  pacman:
    name: yarn
  become: true

- name: Download NodeJS instalation script
  get_url:
    url: https://install-node.now.sh/
    dest: /tmp/install_node.sh
    mode: "0755"

- name: Install Nodejs
  shell: "sh -s /tmp/install_node.sh -y"
  become: yes

- name: Install TMP for TMUX
  git:
    repo: https://github.com/tmux-plugins/tpm
    dest: ~/.tmux/plugins/tpm
    force: yes
    version: master
  when: dotfiles is defined
  become: yes
  become_user: "{{ user.name }}"

- name: Install virtualenvwrapper for zsh plugin
  pip:
    name: virtualenvwrapper
    extra_args: "--user"
    state: present

- name: Install thefuck for zsh plugin
  pip:
    name: thefuck
    extra_args: "--user"
    state: present

- name: Install zsh-auto-suggestion
  git:
    repo: "https://github.com/zsh-users/zsh-autosuggestions"
    dest: /home/{{ user.name }}/.config/oh-my-zsh/custom/plugins/zsh-autosuggestions
    version: master
  become: true
  become_user: "{{ user.name }}"

- name: Install zsh-completions
  git:
    repo: "https://github.com/zsh-users/zsh-completions"
    dest: /home/{{ user.name }}/.config/oh-my-zsh/custom/plugins/zsh-completions
    version: master
  become: true

- name: Install fzf
  git:
    repo: "https://github.com/junegunn/fzf.git"
    dest: /home/{{ user.name }}/.config/oh-my-zsh/fzf/
    version: master
  become: true
