# {{ ansible_managed }}
#
#
# EXAMPLE
# <Rule Actions> <Protocol> <Source IP Address> <Source Port> <Direction Operator> <Destination IP Address> <Destination > (rule options)


alert icmp any any -> any any (msg:"ICMP Packet"; sid:477; rev:3;)
