[Service]
Type=simple
#EnvironmentFile=/etc/snort/snort.sysconfig
PIDFile=/var/log/snort/snort1.pid
ExecStartPre=-/usr/sbin/ethtool -K wlan0 rx off tx off gro off lro off
ExecStartPre=-/usr/sbin/ip link set arp off multicast off promisc on dev wlan0
ExecStart=/usr/sbin/snort --daq-dir /usr/lib/daq/ -c /etc/snort/snort.conf -l /var/log/snort/  -u root -g root -i wlan0 -R 1 --pid-path=/var/log/snort --no-interface-pidfile --nolock-pidfile

KillMode=process

[Install]
WantedBy=multi-user.target
