### {{ ansible_managed }}

Port {{ ssh.port }}
#AddressFamily any
#ListenAddress 0.0.0.0
#ListenAddress ::

#HostKey /etc/ssh/ssh_host_rsa_key
#HostKey /etc/ssh/ssh_host_ecdsa_key
#HostKey /etc/ssh/ssh_host_ed25519_key

# Ciphers and keying
#RekeyLimit default none

# Logging
SyslogFacility {{ ssh.syslogfacility }}
LogLevel {{ ssh.sysloglevel }}

# Authentication:

LoginGraceTime {{ ssh.LoginGraceTime }}
#PermitRootLogin prohibit-password
StrictModes yes
MaxAuthTries 6
MaxSessions 1

PubkeyAuthentication {{ ssh.PubkeyAuthentication }}
AuthorizedKeysFile .ssh/authorized_keys
#AuthorizedPrincipalsFile none

#AuthorizedKeysCommand none
#AuthorizedKeysCommandUser nobody

#HostbasedAuthentication no
#HostbasedAuthentication
#IgnoreUserKnownHosts no
#IgnoreRhosts yes

# To disable tunneled clear text passwords, change to no here!
PasswordAuthentication {{ ssh.PasswordAuthentication }}
PermitEmptyPasswords {{ ssh.PermitEmptyPasswords }}

# Change to no to disable s/key passwords
ChallengeResponseAuthentication no

# Kerberos options
#KerberosAuthentication no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes
#KerberosGetAFSToken no

# GSSAPI options
#GSSAPIAuthentication no
#GSSAPICleanupCredentials yes

UsePAM yes

AllowAgentForwarding {{ ssh.AllowAgentForwarding }}
AllowTcpForwarding {{ ssh.AllowTcpForwarding }}
#GatewayPorts no
#X11Forwarding {{ ssh.X11Forwarding }}
#X11DisplayOffset 10
#X11UseLocalhost yes
#PermitTTY yes
PrintMotd {{ ssh.PrintMotd }}
PrintLastLog {{ ssh.PrintLastLog }}
#TCPKeepAlive yes
#PermitUserEnvironment no
#Compression delayed
#ClientAliveInterval 0
#ClientAliveCountMax 3
UseDNS {{ ssh.UseDNS }}
#PidFile /run/sshd.pid
#MaxStartupPrints 10:30:100
#PermitTunnel no
#ChrootDirectory none
#VersionAddendum none

# no default banner path
Banner {{ ssh.Banner }}

# override default of no subsystems
Subsystem sftp /usr/lib/ssh/sftp-server

AllowUsers {{ ssh.AllowUsers }}