### {{ ansible_managed }}

Port {{ Port }}
#AddressFamily any
#ListenAddress 0.0.0.0
#ListenAddress ::

#HostKey /etc/ssh/ssh_host_rsa_key
#HostKey /etc/ssh/ssh_host_ecdsa_key
#HostKey /etc/ssh/ssh_host_ed25519_key

# Ciphers and keying
#RekeyLimit default none

# Logging
SyslogFacility {{ syslogfacility }}
LogLevel {{ sysloglevel }}

# Authentication:

LoginGraceTime {{ LoginGraceTime }}
#PermitRootLogin prohibit-password
StrictModes yes
MaxAuthTries 6
MaxSessions 1

PubkeyAuthentication {{ PubkeyAuthentication }}
AuthorizedKeysFile .ssh/authorized_keys
#AuthorizedPrincipalsFile none

#AuthorizedKeysCommand none
#AuthorizedKeysCommandUser nobody

#HostbasedAuthentication no
#HostbasedAuthentication
#IgnoreUserKnownHosts no
#IgnoreRhosts yes

# To disable tunneled clear text passwords, change to no here!
PasswordAuthentication {{ PasswordAuthentication }}
PermitEmptyPasswords {{ PermitEmptyPasswords }}

# Change to no to disable s/key passwords
ChallengeResponseAuthentication no

# Kerberos options
#KerberosAuthentication no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes
#KerberosGetAFSToken no

# GSSAPI options
#GSSAPIAuthentication no
#GSSAPICleanupCredentials yes

UsePAM yes

AllowAgentForwarding {{ AllowAgentForwarding }}
AllowTcpForwarding {{ AllowTcpForwarding }}
#GatewayPorts no
#X11Forwarding {{ X11Forwarding }}
#X11DisplayOffset 10
#X11UseLocalhost yes
#PermitTTY yes
PrintMotd {{ PrintMotd }}
PrintLastLog {{ PrintLastLog }}
#TCPKeepAlive yes
#PermitUserEnvironment no
#Compression delayed
#ClientAliveInterval 0
#ClientAliveCountMax 3
UseDNS {{ UseDNS }}
#PidFile /run/sshd.pid
#MaxStartupPrints 10:30:100
#PermitTunnel no
#ChrootDirectory none
#VersionAddendum none

# no default banner path
Banner {{ Banner }}

# override default of no subsystems
Subsystem sftp /usr/lib/ssh/sftp-server

AllowUsers {{ AllowUsers }}
